streamlit
ipython
openai
fastapi==0.85.0
pylint
click
pytest
pytest-cov
uvicorn[standard]
black
wikipedia
ipdb
git+https://github.com/LIAAD/yake              #keyword extractor
git+https://github.com/openai/whisper.git      #speech recognition model